.env
.venv/
__pycache__/
data/pgdata/
.marimo/
*.pyc

letta-souce-code/

.env*
!.env.example
!.env2.example
!.env3.example

.playwright-mcp/

prompts/system_prompts/letta_original/system_prompts
tests/outputs